body {
    font-family: roboto, arial, sans-serif;
    font-size: 13px;
    letter-spacing: .25px;
}

a {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    
}

.left a {
    padding-left: 15px;
}

.right a {
    padding-right: 15px;
}

.gsearchbox {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: auto;
    width: 482px;
    margin-bottom: 20px;
}

.gsearchbox:hover {
    box-shadow: 0 0 2px grey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.gbutton {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.gbutton:hover {
    box-shadow: 1px 1px 1px grey;
}

.header {
    padding-top: 15px;
    height: 30px;
}

.right {
    position: absolute;
    display: inline-block;
    align-content: center;
    right: 35px;
    vertical-align: middle;
}

.left {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.apps {
    vertical-align: middle;
}

.signin {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: #fff;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.footer {
    bottom: 0;
    font-size: 10pt;
    height: 40px;
    position: fixed;
    width: 100%;
    background: #f2f2f2;
    line-height: 40px;
    width: 110%;
    border-top: 1px solid #e4e4e4;
    margin-left: -25px;    
    color: #5f6368;
}

.footer .left {
    padding-left: 35px;
}

.footer .right {
    padding-right: 140px;
}

.invisible {
    border: none;
    margin: 0;
    height: 40px;
    width: inherit;
}

input:focus {
    outline: none;
    
  }

.search-icon {
    width: 30px;
    padding-left: 15px;
}

.mic-icon {
    width: 30px;
    padding-right: 15px;
}

.search-icon {
    padding-top: 8px;
}

.mic-icon {
    padding-top: 4px;
}